/*Resources: Bennetfeely*/

/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/

/*Universal Selector*/


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family:FreeMono, monospace;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.7;
    color: #808080;
}

/*Viewport height*/

.header {
    height: 95vh;
    background: linear-gradient(to right bottom,
                rgba(126,213,111,0.3),
                rgba(40,180,131,0.4),
                rgba(255,255,255, 0.5)),
    url(../img/profile_photo.JPG) top;
    background-size: cover;
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100% );
    position: relative;

}

.logoBox{
    position: absolute;
    left: 30px;
    top: 30px;
}

.logo{
    height: 40px;
    animation-name: moveInRight;
    animation-duration: 1.2s;
}

/*.logo:hover{*/
    /*animation-name: moveInRight;*/
    /*animation-duration: 2s;*/
/*}*/

.text-box{
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.heading-primary{
    color: #f8f8ff;
    text-align: center;
    text-emphasis: black;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
    backface-visibility: hidden; /*Is the backpart of the element is visible or hidden for the user */
    margin-bottom: 50px;
}

.heading-primary-main{
    display: block;
    font-size: 60px;
    font-weight: 700;
    letter-spacing: 35px;
    animation-name: moveInTopLeft;
    animation-timing-function: ease-in;
    animation-duration: 1s;
    /*animation-delay: 2s;*/
    /*animation-iteration-count: 3;*/
}

.heading-primary-subtitle{
    display: block;
    font-size: 35px;
    font-weight: 400;
    letter-spacing: 20px;
    animation-name: moveInBottomRight;
    animation-duration: 1s;
}


@keyframes moveInTopLeft {
    0% {
        opacity: 0;
        transform: translate(-150px, -100px) rotate(-20deg);

    }

    75% {
        transform: translate(0px,-20px);
    }

    100% {
        opacity: 1;
        transform: translate(0px, 0px) rotate(0deg);
    }
}

@keyframes moveInBottomRight {
    0% {
        opacity: 0;
        transform: translate(150px,150px);
    }

    75% {
        transform: translate(0px,20px);
    }

    100% {
        opacity: 1;
        transform: translate(0px, 0px);
    }
}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(50px);
    }

    75% {
        transform: translate(-10px);
    }

    100% {
        opacity: 1;
        transform: translate(0px);
    }
}


@keyframes moveInLeft {
    0% {
          opacity: 0;
          transform: translate(-200px, 100px);
      }

    75% {
        transform: translate(0px,20px);
    }

    100% {
        opacity: 1;
        transform: translate(0px, 0px);
    }
}


.btn:link, .btn:visited{
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    padding: 10px 50px;
    display: inline-block;
    border-radius: 150px;
    /*border: outset black;*/
    transition: all 0.3s;
    text-shadow: -1px 0 black, 0 1px black,1px 0 black, 0 -1px black;
    letter-spacing: 5px;
    font-weight: bold;
    font-size: 22px;
    position: relative;

}

.btn:hover {
    transform: translateY(-4px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.3);
}

.btn:active {
    transform: translateY(-2px);
    box-shadow: 0 5px 5px rgba(0,0,0,0.3);


}

.btn-white{
    color: #E9FF00;
    /*background: linear-gradient(to right bottom,#093028, #43C6AC,  #F8FFAE) ;*/
    background-color: ghostwhite;
}

.btn::after{
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 150px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.5s;
}


.btn-white::after {
    /*background: linear-gradient(to right bottom,#093028, #43C6AC,  #F8FFAE) ;*/
    background-color: ghostwhite;

}

.btn:hover::after {
    transform: scaleX(1.5) scaleY(1.2);
    opacity: 0;
}

.btn-animated{
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-fill-mode: backwards;
    animation-delay: 1.2s;
}
