/////////////////////////////
// Final Layout with grids
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

// Responsive breakpoints
$bp-largest: 75em; //1200px
$bp-large: 62.5em; //1000px
$bp-medium: 50em; //800px
$bp-small: 37.5em; //600px

html {
  box-sizing: border-box;
}

%base-card-style {
  border-radius: 0.25rem;
  background-color: #f9f7f6;
  margin:1rem;
}

.container-1 {
  display: grid;
  grid-template-rows: 6rem minmax(min-content, max-content) minmax(min-content, max-content) 8rem;
  grid-template-columns: repeat(4, minmax(min-content, 1fr));
  grid-gap: 2rem;

  @media only screen and (max-width: $bp-medium) {
    grid-template-rows: 6rem repeat(3, minmax(min-content, max-content)) 8rem;
    grid-template-columns: repeat(3, minmax(min-content, 1fr));
  }

  @media only screen and (max-width: $bp-small) {
    grid-template-rows: 6rem repeat(5, minmax(min-content, max-content)) 8rem;
    grid-template-columns: 1fr;
  }

  background-color: #fff;
}

.item {
  color: #060606;
  font-family: sans-serif;
  box-shadow: 0 0.4rem 0.3rem rgba(0, 0, 0, 0.2);



  &--1 {
    grid-column: 1/-1;
    background-color: #2F5061;
    color: #fff;
  }


  &--2 {
    @extend %base-card-style;
  }


  &--3 {
    @extend %base-card-style;

  }


  &--4 {
    @extend %base-card-style;
  }


  &--5 {
    @extend %base-card-style;
    display: grid;
    grid-row: 2/4;
    grid-column: 4/5;

    @media only screen and (max-width: $bp-medium) {
      grid-column: 1 / -1;
      grid-row: 3/4;
    }

    @media only screen and (max-width: $bp-small) {
      grid-row: 5/6;
    }
  }


  &--6 {
    @extend %base-card-style;
    grid-column: 1/4;
    @media only screen and (max-width: $bp-small) {
      grid-column: 1 / -1;
    }
  }

  &--7 {
    grid-column: 1/-1;
    background-color: #2F5061;
  }
}


.header-content {
  height: 8vh;
  padding: 2rem;
}

.sub-content {
  padding: 2rem;
  height: 20vh;
}

.sidebar-content {
  padding: 2rem;
}

.main-content {
  padding: 2rem;
  height: 60vh;
}

.footer-content {
  padding: 2rem;
  height: 10vh;
  color: white;
}


