/////////////////////////////
// Initial Layout without grids
* ,
*::before,
*::after{
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
// Responsive breakpoints
$bp-largest: 75em; //1200px
$bp-large: 62.5em; //1000px
$bp-medium: 50em; //800px
$bp-small: 37.5em; //600px

html {
  box-sizing: border-box;
}

  .container-1 {
  background-color: #fff;
  display: grid;
  grid-template-rows:  6rem minmax(min-content,max-content) minmax(min-content,max-content) 8rem;
  grid-template-columns: repeat(4, minmax(min-content,max-content));
  grid-gap: 2rem;

    @media only screen and (max-width: $bp-large)  {
      grid-template-rows: 6rem repeat(3, minmax(min-content,max-content)) 8rem;
      grid-template-columns: repeat(3, minmax(min-content,max-content));
    }

    @media only screen and (max-width: $bp-medium)  {
      grid-template-rows: 6rem repeat(5, minmax(min-content,max-content)) 8rem;
      grid-template-columns:1fr;

    }

}

.close {
  font-size: 2rem;
  color: #1d3b57;
  text-decoration: none;
  padding: 0.5rem;
}

.container__button {
  font-size: 1.5rem;
  padding: 0.5rem;
  margin: 0.5rem;
  background-color: #1d3b57;
  color: white;
}

.feature {
  display: grid;
  grid-template-columns: min-content 1fr; //width of svg, remaining part
  grid-row-gap: 1.5rem;
  grid-column-gap: 2.5rem;
  padding: 1rem;


  &__icon {
    fill: #1d3b57;
    width: 4.5rem;
    height: 4.5rem;
    grid-row: 1/ span 2;
    @media only screen and (max-width: $bp-medium) {
      width: 2rem;
      height: 2rem;
    }

  }

  &__text {
    font-size: 1.2rem;
  }
}

.item {
  color: #060606;
  font-family: sans-serif;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.3);


&--1 {
    background-image: linear-gradient(to right bottom, #d6d6d6, #FFFFFF);
    grid-column: 1/-1;
    justify-content: space-between;
    display: flex;
    align-items: center;
  }


  &--2 {
    background-image: linear-gradient(to right bottom, #d6d6d6, #FFFFFF);
  }


  &--3 {
    background-image: linear-gradient(to right bottom, #d6d6d6, #FFFFFF);
  }


  &--4 {
    background-image: linear-gradient(to right bottom, #d6d6d6, #FFFFFF);
  }


  &--5 {
    background-image: linear-gradient(to right bottom, #d6d6d6, #FFFFFF);
    display: grid;
    @media only screen and (max-width: $bp-medium) {
      grid-column: 1/-1;
    }
  }


  &--6 {
    background-image: linear-gradient(to right bottom, #d6d6d6, #FFFFFF);
    grid-column: 1/4;
    @media only screen and (max-width: $bp-medium)  {
      grid-column: 1 / -1;
    }
  }

  &--7 {
    grid-column: 1/-1;
    background-color: #1d3b57;
  }
}


.nav {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(15rem, 1fr));
  grid-gap:2rem;
  align-items: center;
  color: white;
  background-color: #1d3b57;

  &__link:link,
  &__link:visited{
    font-size: 1.6rem;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    padding: 1.5rem;
    display: block;
    background-color: rgba(black, 0.05);
    transition: all 0.2s;
  }

  &__link:hover,
  &__link:active{
    color: white;
    background-color: rgba(black, 0.5);
    transform: translateY(-0.5rem);
  }
}

.copyright {
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.4rem;
  color: #aaa;
  text-align: center;
  background-color: #1d3b57;
  padding-top: 1.5rem;

}

/* Sidebar */
.sidebar {
  padding: 1rem;
  display: flex;
  justify-content: center;
  grid-row: 2/4;
  grid-column: 4/5;

  @media only screen and (max-width: $bp-large)  {
    grid-column: 1 / -1;
    grid-row: 3/4;
  }

  @media only screen and (max-width: $bp-medium)  {
    grid-row: 5/6;

  }

}
.heading-3 {
  text-align: center;
  padding-bottom: 1rem;
}
.realtors__list {
  display: grid;
  grid-template-columns: min-content max-content;
  grid-column-gap: 2rem;
  grid-row-gap: 4rem;
  align-items: center;
  @media only screen and (max-width: $bp-large) {
    grid-template-columns: repeat(3,min-content max-content);
  }
  @media only screen and (max-width: $bp-medium) {
    grid-template-columns: min-content max-content;
  }
}

.realtors__img {
  height: 6rem;
  border-radius: 50%;
  @media only screen and (max-width: $bp-large) {
    height: 3rem;
  }
}

.home {
  padding: 1rem;
}

.main__img {
  width: 100%;
}

.main__content {
 text-align: center;
}
