*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box; }

.container {
  background-color: #fff;
  display: grid;
  grid-template-rows: 6rem minmax(min-content, max-content) minmax(min-content, max-content) 8rem;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2rem; }
  @media only screen and (max-width: 62.5em) {
    .container {
      grid-template-rows: 6rem repeat(3, minmax(min-content, max-content)) 8rem;
      grid-template-columns: repeat(3, minmax(min-content, max-content)); } }
  @media only screen and (max-width: 50em) {
    .container {
      grid-template-rows: 6rem repeat(5, minmax(min-content, max-content)) 8rem;
      grid-template-columns: 1fr; } }

.close {
  font-size: 2rem;
  color: #fff;
  text-decoration: none;
  padding: 0.5rem; }

.container__button {
  font-size: 1.5rem;
  padding: 0.5rem;
  margin: 0.5rem;
  background-color: #4297A0;
  color: white;
  border: none;
  border-radius: 2px;
  cursor: pointer; }

.container__button:hover {
  background-color: #367b82; }

.feature {
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-row-gap: 1.5rem;
  grid-column-gap: 2.5rem;
  padding: 1rem; }
  .feature__icon {
    fill: #2F5061;
    width: 4.5rem;
    height: 4.5rem;
    grid-row: 1/ span 2; }
    @media only screen and (max-width: 50em) {
      .feature__icon {
        width: 2rem;
        height: 2rem; } }
  .feature__text {
    font-size: 0.8rem; }

.item {
  color: #060606;
  font-family: sans-serif; }
  .item--1 {
    grid-column: 1/-1;
    justify-content: space-between;
    display: flex;
    align-items: center;
    background-color: #2F5061;
    color: #fff;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2); }
  .item--2 {
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
    border-radius: 2px;
    background-color: #f9f7f6; }
  .item--3 {
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
    border-radius: 2px;
    background-color: #f9f7f6; }
  .item--4 {
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
    border-radius: 2px;
    background-color: #f9f7f6; }
  .item--5 {
    display: grid;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
    border-radius: 2px;
    background-color: #f9f7f6; }
    @media only screen and (max-width: 50em) {
      .item--5 {
        grid-column: 1/-1; } }
  .item--6 {
    grid-column: 1/4;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
    border-radius: 2px;
    background-color: #f9f7f6; }
    @media only screen and (max-width: 50em) {
      .item--6 {
        grid-column: 1 / -1; } }
  .item--7 {
    grid-column: 1/-1;
    background-color: #2F5061;
    padding: 2rem 0; }

.nav {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  grid-gap: 2rem;
  align-items: center;
  color: white;
  background-color: #2F5061; }
  .nav__link:link, .nav__link:visited {
    font-size: 1.6rem;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    padding: 1.5rem;
    display: block;
    background-color: rgba(0, 0, 0, 0.05);
    transition: all 0.2s; }
  .nav__link:hover, .nav__link:active {
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    transform: translateY(-0.5rem); }

.copyright {
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.4rem;
  color: #aaa;
  text-align: center;
  background-color: #2F5061;
  padding: 1.5rem 0; }

/* Sidebar */
.sidebar {
  padding: 1rem;
  display: flex;
  justify-content: center;
  grid-row: 2/4;
  grid-column: 4/5;
  padding: 2rem; }
  @media only screen and (max-width: 62.5em) {
    .sidebar {
      grid-column: 1 / -1;
      grid-row: 3/4; } }
  @media only screen and (max-width: 50em) {
    .sidebar {
      grid-row: 5/6; } }

.heading-3 {
  text-align: center;
  padding-bottom: 1rem; }

.realtors__list {
  display: grid;
  grid-template-columns: min-content max-content;
  grid-column-gap: 2rem;
  grid-row-gap: 4rem;
  align-items: center; }
  @media only screen and (max-width: 62.5em) {
    .realtors__list {
      grid-template-columns: repeat(3, min-content max-content); } }
  @media only screen and (max-width: 50em) {
    .realtors__list {
      grid-template-columns: min-content max-content; } }

.realtors__img {
  height: 6rem;
  border-radius: 50%; }
  @media only screen and (max-width: 62.5em) {
    .realtors__img {
      height: 3rem; } }

.home {
  padding: 1rem; }

.main__img {
  width: 100%; }

.main-content {
  text-align: center;
  padding: 2rem; }

.story {
  display: grid;
  grid-template-rows: repeat(7, 1fr);
  grid-template-columns: repeat(7, 1fr); }
  .story__img {
    border-radius: 0.3rem;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
    width: 100%; }
    .story__img--1 {
      grid-row: 1/span 4;
      grid-column: 1/span 3;
      filter: grayscale(80%); }
    .story__img--2 {
      grid-row: 4/span 3;
      grid-column: span 3/-1;
      filter: grayscale(80%); }
    .story__img--3 {
      grid-row: 3/-1;
      grid-column: 3/span 3;
      z-index: 2; }
