
@keyframes moveInTopLeft {
  0% {
    opacity: 0;
    transform: translate(-15rem, -10rem) rotate(-20deg);

  }

  75% {
    transform: translate(0, -2rem);
  }

  100% {
    opacity: 1;
    transform: translate(0, 0) rotate(0deg);
  }
}

@keyframes moveInBottomRight {
  0% {
    opacity: 0;
    transform: translate(15rem, 15rem);
  }

  75% {
    transform: translate(0, 2rem);
  }

  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

@keyframes smallMoveInRight {
  0% {
    opacity: 1;
    transform: translateX(1rem);
  }

  75% {
    transform: translateX(0.5rem);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes smallMoveInLeft {
  0% {
    opacity: 1;
    transform: translateX(-1rem);
  }

  75% {
    transform: translateX(-0.5rem);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(5rem);
  }

  75% {
    transform: translate(-1rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translate(-20rem, 10rem);
  }

  75% {
    transform: translate(0, 2rem);
  }

  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}
