.btn {
  &:link, &:visited {
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    padding: 1rem 5rem;
    display: inline-block;
    border-radius: 15rem;
    /*border: outset black;*/
    transition: all 0.3s;
    text-shadow: -0.05rem 0 $color-black, 0 0.05rem $color-black, 0.05rem 0 $color-black, 0 -0.05rem $color-black;
    letter-spacing: 0.5rem;
    font-weight: bold;
    font-size: $default-font-size;
    position: relative;

  }

  &:hover {
    transform: translateY(-0.4rem);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);
    &:after {
      transform: scaleX(1.5) scaleY(1.2);
      opacity: 0;
    }
  }

  &:active {
    transform: translateY(-0.2rem);
    box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.3);

  }

  &:after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 15rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.5s;
  }

  &--white {
    color: $background-color-dark;
    /*background: linear-gradient(to right bottom,#093028, #43C6AC,  #F8FFAE) ;*/
    background-color: $background-white;
    &:after {
      /*background: linear-gradient(to right bottom,#093028, #43C6AC,  #F8FFAE) ;*/
      background-color: $background-white;
    }
  }

  &--animated {
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-fill-mode: backwards;
    animation-delay: 1.2s;
  }
}

.btn-text {
  &:link,
  &:visited {
    font-size: $default-font-size;
    color: $background-color-light;
    display: inline-block;
    text-decoration: none;
    border-bottom: 1px solid $background-color-light;
    padding: 0.3rem;
    transition: all 0.2s;
  }

  &:hover {
    background-color: $background-color-light;
    color: $background-white;
    box-shadow: 0 1rem 2rem rgba($color-black, 0.15);
    transform: translateY(-0.3rem);
  }

  &:active {
    box-shadow: 0 0.5rem 1rem rgba($color-black, 0.15);
    transform: translateY(0rem);
  }
}
