.feature-box{
  background-color: rgba($color-white, 0.8);
  font-size: $default-font-size;
  padding: 2.5rem;
  text-align: center;
  border-radius: 0.8rem;
  box-shadow: 0 1.5rem 4rem rgba($color-black, 0.3);
  transition: transform 0.2s;
  //transform: skewY(3deg);


  @include respond(tab-port) {
    padding: 1.5rem;
  }


  &__icon{
    font-size: 6rem;
    margin-bottom: 0.5rem;
    display: inline-block;
    background-image: linear-gradient(to right, $background-color-light, $background-color-dark);
    -webkit-background-clip: text;
    color: transparent;

    @include respond(tab-port) {
      margin-bottom: 0;
    }
  }

  &:hover {
    transform: translateY(-1.5rem) scale(1.05);
    box-shadow: 0 1.5rem 4rem rgba($color-black, 0.8);
  }

  &__test{
    @include clearfix();
    backface-visibility: hidden;
  }
}
