// colors
$background-color-light: #11C6D5;
$background-color-dark: #2E90B4;
$font-color: #808080;
$background-white: #F8F8FF;
$color-black: #000;
$color-dull-white: antiquewhite;


// Grid width
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;
